body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}


/* COMMON CSS */
h2{
    font-size: 45px;
    font-weight: 700;
    color: #121212;
    text-align: center;
    margin: 12px;
}
h3{
    font-size: 30px;
    font-weight: 700;
    color: #707070;
}
h4{
    font-size: 24px;
    font-weight: 600;
    color: #121212;
}
h6{
    font-size: 16px;
    font-weight: 400;
    color: #707070;
}
p{
    font-size: 18px;
    color: #707070;
    text-align: center;
    margin: 20px 260px;
}
.p-tb-90{
    padding: 90px 0;
}
.p-t-50{
    padding-top: 50px;
}


/* HEADER */
.header{
    background-image:
    linear-gradient(360deg, #121212, rgba(18, 18, 18, 0 )),
    url(../img/donate.jpg);
    background-repeat: no-repeat;
    height: 100vh;
}
.main-header{
    padding: 150px 0;
    text-align: center;
}
.main-header h1{
    font-size: 65px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin: 0 260px;
}
.main-header p{
    color: #fff;
    margin-bottom: 40px;
}
.button{
    background: #FF5959;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
    padding: 16px 30px;
    align-items: center;
}



/* DONATE TODAY */
.donate{
    text-align: center;
}

/* Donate Packeg */
.donate-packeg{
    display: flex;
    justify-content: center;
    margin: 60px 0;
}
.donate-amount{
    width: 135px;
    background-color: #FAFAFA;
    margin: 10px;
    text-align: center;
}
.red-border{
    color: #FF5959;
    background-color: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
}

/* Other Ammount Form */
.other-ammount-form{
    text-align: center;
    width: 40%;
    margin: 60px auto;
    border-bottom: 1px solid gray;
}
.other-ammount-form input{
    font-size: 18px;
    text-align: center;
    border: 0;
    outline: 0;
}



/* DONATE PLAN */
.donate-plan-text p{
    text-align: center;
}

/* Donate Pack */
.donate-pack{
    display: flex;
    justify-content: center;
}
.donate-same{
    width: 24%;
    height: 240px;
    margin: 15px;
    padding: 50px 20px 30px 25px;
}
.donate-ukrine{
    background-color: #EDF5F6;
}
.donate-pandemic{
    background-color: #FFEEEE;
}
.donate-africa{
    background-color: #FFF4D6;
}



/* CHILD SPONSORSHIP */
.involved-child{
    display: flex;
    justify-content: center;
}
.crisis-img{
    width: 40%;
}
.crisis-text{
    width: 40%;
}
.crisis-text h6{
    width: 82%;
}
.crisis-img img{
    width: 90%;
}



/* UPDATES */
.update{
    align-items: center;
}
.input-group{
    width: 40%;
    display: flex;
    padding: 90px 150px;
    border-radius: 5px;
    margin: 56px  auto;
    justify-content: center;
    background-color: #FFF4D6;
}
.input {
    height: 48px;
    width: 275px;
    font-size: 15px;
    padding: 0 20px;
    border: none;
    border-radius: 5px 0 0 5px;
    background-color: #D9D9D9;
    outline: 0;
  }
.submit-button {
    height: 48px;
    width: 157px;
    font-size: 18px;
    color:#fff;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: #FF5959;
    cursor: pointer;
}



/* FOOTER */
footer{
    padding: 50px 0;
    background-color: #0B0D17;
}
footer h2{
    font-family: 'Lobster', cursive;
    font-size: 36px;
    color: #FF5959;
}
footer p{
    font-size: 14px;
    color: #D9DBE1;
}



/* ****** END DONATE NOW WEBSITE ******* */