body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}


/* COMMON CSS */
h1{
    font-size: 65px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}
h2{
    font-size: 45px;
    font-weight: 700;
    color: #121212;
    text-align: center;
}
h3{
    font-size: 30px;
    font-weight: 700;
    color: #707070;
}
h4{
    font-size: 24px;
    font-weight: 600;
    color: #121212;
}
h5{
    font-size: 20px;
}
.margin-rl-260{
    margin: 0 260px;
}
.p-90{
    padding: 90px 0;
}


/* HEADER */
.header{
    background-image: url(../img/donate.jpg);
    background-repeat: no-repeat;
    padding: 210px 0;
}
.header h1{
    /* margin: 0 268px; */
}
.header p{
    text-align: center;
    color: #fff;
    margin: 20px 300px 50px;
}
.main-header{
    text-align: center;
}
.button{
    background: #FF5959;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
    padding: 16px 30px;
    align-items: center;
}


/* DONATE TODAY */
.donate{
    text-align: center;
}
.donate h2{}

/* Donate Packeg */
.donate-packeg{
    display: flex;
    justify-content: center;
    margin: 60px 0;
}
.donate-amount{
    width: 135px;
    background-color: #FAFAFA;
    margin: 10px;
    text-align: center;
}
.red-border{
    color: #FF5959;
    background-color: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
}

/* Other Ammount */
.other-ammount{
    text-align: center;
    width: 40%;
    margin: 60px auto;
    border-bottom: 1px solid gray;
}
.other-ammount input{
    border: 0;
    outline: 0;
}


/* DONATE PLAN */
.donate-plan-text{}
.donate-plan-text h2{}
.donate-plan-text p{
    text-align: center;
}

/* Donate Pack */
.donate-pack{
    display: flex;
    
    justify-content: center;
}
.donate-same{
    width: 24%;
    height: 240px;
    margin: 15px;
    padding: 50px 20px 30px 25px;
}
.donate-ukrine{
    background-color: #EDF5F6;
}
.donate-pandemic{
    background-color: #FFEEEE;
}
.donate-africa{
    background-color: #FFF4D6;
}


/* UPDATES */